<mat-card *ngIf="logement" class="conteneur">

    <!-- Bloc titre -->
    <mat-card-title class="element">Logement de {{ logement.ville | uppercase }}</mat-card-title>

        <!-- Bloc champs -->
        <mat-card-content class="element">
            <mat-card-subtitle class="soustitre">L'adresse</mat-card-subtitle>
            <mat-form-field>
                <input matInput placeholder="numero"
                [(ngModel)]="logement.numero_rue"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="type de rue"
                [(ngModel)]="logement.type_rue"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="rue"
                [(ngModel)]="logement.nom_rue"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="complement adresse"
                [(ngModel)]="logement.complement_adresse"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="code postal"
                [(ngModel)]="logement.code_postal"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="ville"
                [(ngModel)]="logement.ville"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-card-subtitle class="soustitre">Le prix</mat-card-subtitle>
            <mat-form-field>
                <input matInput placeholder="prix de la nuit"
                [(ngModel)]="logement.prix_nuit"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-card-subtitle class="soustitre">À noter</mat-card-subtitle>
            <mat-form-field>
                <input matInput placeholder="description"
                [(ngModel)]="logement.description"
                [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </mat-card-content>

        <!-- Bloc boutons -->
        <mat-card-content class="element">
                <a class="bouton" routerLink="/logements">Retour</a><br/>
                <a class="bouton" type="button" (click)="updateLogement()">Modifier</a><br/>
                <a class="bouton" type="submit" (click)="deleteLogement()">Supprimer</a>
        </mat-card-content>
        
  </mat-card >