<div *ngIf="utilisateur" class="container">

  <div class="ligne1">
      <h1 class="titre">Profil de {{ utilisateur.prenom }} {{ utilisateur.nom | uppercase }}</h1>
  </div>
  <form #utilisateurData (ngSubmit)="updateUtilisateur(utilisateurData)">
      <div>

          <mat-form-field class="example-full-width">
              <input matInput
              disabled="true"
              placeholder="identifiant RH : {{utilisateur.id_rh}}">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
              <input matInput
              [(ngModel)]="utilisateur.mot_de_passe"
              [ngModelOptions]="{standalone: true}"
              placeholder="mot de passe">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
              <input matInput
              [(ngModel)]="utilisateur.nom"
              [ngModelOptions]="{standalone: true}"
              placeholder="nom">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
              <input matInput
              [(ngModel)]="utilisateur.prenom"
              [ngModelOptions]="{standalone: true}"
              placeholder="prénom">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
              <input matInput
              [(ngModel)]="utilisateur.bureau"
              [ngModelOptions]="{standalone: true}"
              placeholder="bureau">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
              <input matInput
              [(ngModel)]="utilisateur.mail"
              [ngModelOptions]="{standalone: true}"
              placeholder="courriel">
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width">
              <input matInput
              [(ngModel)]="utilisateur.telephone"
              [ngModelOptions]="{standalone: true}"
              placeholder="telephone">
          </mat-form-field>
      </div>
      <br>
      <mat-card-footer class="footer">
          <button mat-button type="submit" routerLink="../">Retour</button>
          <button mat-button type="submit" routerLink="utilisateur.utilisateur_id">Modifier</button>
          <button mat-button type="submit" (click)="deleteUtilisateur()">Supprimer</button>
      </mat-card-footer>
  </form>
</div>